@import "../fonts/Lato/stylesheet.css";
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:focus {
  outline: 0 !important;
  outline-color: transparent !important;
  outline-width: 0 !important;
  outline-style: none !important;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(16, 16, 29, 0.9);
}
.header__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  -moz-transition: var(--transition);
  transition: var(--transition);
  height: 6.25rem;
}
@media screen and (min-width: 768px) {
  .header__inner_scroll {
    height: 5rem !important;
  }
}
@media screen and (max-width: 768px) {
  .header__toggle:checked ~ .header__burger span {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .header__toggle:checked ~ .header__burger span::before {
    top: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  .header__toggle:checked ~ .header__burger span::after {
    top: 0;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .header__toggle:checked ~ .header__menu {
    left: 0;
  }
}
.header__burger {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 15px;
  z-index: 1;
  width: 26px;
  height: 20px;
  font-size: 0;
  padding-top: 8px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media screen and (min-width: 768px) {
  .header__burger {
    display: none;
  }
}
.header__burger > span, .header__burger > span::before, .header__burger > span::after {
  position: absolute;
  display: block;
  background: var(--white);
  width: 100%;
  height: 2px;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
.header__burger > span::before, .header__burger > span::after {
  content: "";
}
.header__burger > span::before {
  top: -8px;
}
.header__burger > span::after {
  top: 8px;
}
.header__logo {
  color: var(--white);
  font-weight: 800;
  font-size: 1.75rem;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .header__menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    -moz-transition: var(--transition);
    transition: var(--transition);
  }
}
.header__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 768px) {
  .header__list {
    gap: 3.75rem;
  }
}
@media screen and (min-width: 768px) {
  .header__list {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
@media screen and (max-width: 767px) {
  .header__list {
    width: 100%;
    height: 100%;
    padding-top: 5.75rem;
    padding-bottom: 5.75rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: rgb(16, 16, 29);
  }
}
.header__link {
  cursor: pointer;
  display: block;
  color: #fff;
  font-weight: 600;
  font-size: 13px;
  line-height: 1;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .header__link {
    text-align: left;
  }
}
@media screen and (max-width: 767px) {
  .header__link {
    padding: 20px;
    font-size: 16px;
    text-align: right;
    background-color: rgba(16, 16, 29, 0.9);
  }
}
.header__link:hover, .header__link_selected {
  color: var(--link-hover);
}

.footer {
  background-color: var(--black-light);
}
.footer__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
@media screen and (min-width: 1201px) {
  .footer__inner {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 2.5rem;
  }
}
@media screen and (max-width: 1200px) {
  .footer__inner {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 2rem;
  }
}
@media screen and (max-width: 1024px) {
  .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -moz-box-orient: vertical;
    -moz-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}
.footer__copyright {
  color: var(--white);
  font-weight: 400;
  font-size: 13px;
  white-space: nowrap;
}
@media screen and (max-width: 1100px) and (min-width: 1025px) {
  .footer__copyright {
    font-size: 12px;
  }
}
.footer__list {
  display: inherit;
  -webkit-box-align: inherit;
  -webkit-align-items: inherit;
  -moz-box-align: inherit;
  -ms-flex-align: inherit;
  align-items: inherit;
  -webkit-flex-wrap: inherit;
  -ms-flex-wrap: inherit;
  flex-wrap: inherit;
  -webkit-box-pack: inherit;
  -webkit-justify-content: inherit;
  -moz-box-pack: inherit;
  -ms-flex-pack: inherit;
  justify-content: inherit;
  gap: inherit;
}
@media screen and (max-width: 480px) {
  .footer__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.footer__list-item {
  position: relative;
}
@media screen and (min-width: 1200px) {
  .footer__list-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .footer__list-item::before, .footer__list-item::after {
    position: relative;
    top: 0;
    width: 1px;
    height: 18px;
    background-color: var(--silver);
  }
  .footer__list-item:nth-of-type(1)::before {
    left: 0;
    margin-right: 2.5rem;
    content: "";
  }
  .footer__list-item:nth-of-type(3)::after {
    right: 0;
    margin-left: 2.5rem;
    content: "";
  }
}
.footer__link {
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.75rem;
  color: var(--silver);
  font-weight: 400;
  font-size: 13px;
  white-space: nowrap;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  -moz-transition: var(--transition);
  transition: var(--transition);
}
.footer__link:hover {
  color: var(--white);
}
.footer__link_white {
  color: var(--white);
}
.footer__link_white:hover {
  color: var(--silver);
}
@media screen and (max-width: 767px) {
  .footer__link {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.footer__link-icon {
  width: 20px;
  max-width: 20px;
  min-width: 20px;
  height: 20px;
  max-height: 20px;
  min-height: 20px;
  color: var(--blue_light);
}

.intro {
  position: relative;
  background-image: url(../img/bg/intro01.jpg);
  background-position: bottom center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top: 6.25rem;
  padding-top: 6.375rem;
}
@media screen and (max-width: 1024px) {
  .intro {
    background-position: top right 10%;
  }
  .intro::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    opacity: 0.6;
    content: "";
  }
}
@media screen and (min-width: 1025px) {
  .intro {
    padding-bottom: 12.75rem;
  }
}
@media screen and (max-width: 1024px) {
  .intro {
    padding-bottom: 6.375rem;
  }
}
.intro__inner {
  width: 100%;
  max-width: 780px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: left;
}
@media screen and (min-width: 1025px) {
  .intro__inner {
    row-gap: 5rem;
  }
}
@media screen and (max-width: 1024px) {
  .intro__inner {
    row-gap: 3.75rem;
  }
}
.intro__title {
  color: #000;
  font-weight: 700;
  font-size: 3rem;
  text-align: inherit;
  text-transform: uppercase;
}
.intro__text {
  color: var(--black);
  font-weight: 700;
  font-size: 1.25rem;
  text-align: inherit;
}
.intro__description {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -moz-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  row-gap: 0.75rem;
}
.intro__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -moz-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  row-gap: 6px;
  color: #000;
  font-weight: 400;
  font-size: 1.25rem;
  text-align: inherit;
  list-style-type: "-";
}
.intro__list-item {
  margin-left: 10px;
  padding-left: 10px;
}
.intro__bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media screen and (min-width: 481px) {
  .intro__bottom {
    gap: 1.875rem;
  }
}
@media screen and (max-width: 481px) {
  .intro__bottom {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
.intro__btn {
  padding: 12px 30px;
  min-height: 42px;
  font-size: 13px;
}
@media screen and (min-width: 480px) {
  .intro__btn {
    min-width: 182px;
  }
}
@media screen and (max-width: 481px) {
  .intro__btn {
    min-width: -webkit-calc((100% - 20px) / 2);
    min-width: -moz-calc((100% - 20px) / 2);
    min-width: calc((100% - 20px) / 2);
  }
}

.order {
  scroll-margin-block-start: 75px;
  padding-top: 7.5rem;
  padding-bottom: 9.375rem;
  background-image: url(../img/bg/order01.jpg);
  background-position: bottom center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.order__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media screen and (min-width: 1025px) {
  .order__inner {
    row-gap: 5rem;
  }
}
@media screen and (max-width: 1024px) {
  .order__inner {
    row-gap: 3.75rem;
  }
}
.order__description {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  row-gap: 1.875rem;
}

:root {
  --blue_light: #3e9cdc;
  --link-hover: #43abf0;
  --black-light: #3d4050;
  --btn-color: #2A2B30;
  --btn-border: #6F6D7B;
  --selected-color: #42A9ED;
  --silver: #c3c3c3;
  --white: #fff;
  --black: #000;
  --gray-dark: #272733;
  --blue-dark: #286690;
  --transition: .3s ease-in-out;
}
@media screen and (min-width: 1201px) {
  :root {
    font-size: 16px;
  }
}
@media screen and (max-width: 1200px) and (min-width: 1025px) {
  :root {
    font-size: 15px;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  :root {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) and (min-width: 481px) {
  :root {
    font-size: 13px;
  }
}
@media screen and (max-width: 480px) {
  :root {
    font-size: 12px;
  }
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Lato", sans-serif;
  font-style: normal;
  line-height: 1.15;
  scroll-behavior: smooth;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a,
button,
:hover,
::before,
::after {
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  -moz-transition: var(--transition);
  transition: var(--transition);
}

a,
button {
  position: relative;
  z-index: 10;
  cursor: pointer;
}

button {
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
}
@media screen and (min-width: 1025px) {
  .container {
    max-width: 1220px;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (max-width: 767px) and (min-width: 481px) {
  .container {
    max-width: 480px;
  }
}

.btn {
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 10px;
  color: var(--btn-color);
  font-weight: 400;
  line-height: 1.2;
  text-transform: uppercase;
  background-color: var(--white);
  border-width: 1px;
  border-style: solid;
  border-color: var(--btn-border);
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  -moz-transition: var(--transition);
  transition: var(--transition);
}
.btn:hover {
  background-color: #d9d9d9;
}
.btn:focus {
  background-color: #b3b3b3;
  border-color: var(--white);
}
.btn_primary {
  color: var(--white);
  background-color: var(--blue_light);
  border-color: var(--white);
}
.btn_primary:hover {
  background-color: #2074ae;
}
.btn_primary:focus {
  background-color: #14496d;
}
.btn-icon {
  width: 20px;
  height: 20px;
}

.select {
  position: relative;
  cursor: pointer;
  z-index: 50;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.85);
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.select_active {
  background-color: var(--black-light);
  -webkit-border-bottom-right-radius: unset;
  border-bottom-right-radius: unset;
  -webkit-border-bottom-left-radius: unset;
  border-bottom-left-radius: unset;
}
.select_active::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  content: "";
}
.select_active > .input {
  color: var(--white);
  border-color: var(--black-light);
}
.select_active > .input::-webkit-input-placeholder {
  opacity: 1;
}
.select_active > .input:-moz-placeholder {
  opacity: 1;
}
.select_active > .input::-moz-placeholder {
  opacity: 1;
}
.select_active > .input:-ms-input-placeholder {
  opacity: 1;
}
.select_active > .input::-ms-input-placeholder {
  opacity: 1;
}
.select_active > .input::placeholder {
  opacity: 1;
}
.select_active > .input:focus {
  border-color: transparent;
  -webkit-box-shadow: unset;
  box-shadow: unset;
}
.select_active > .input:focus::-webkit-input-placeholder {
  opacity: 1;
}
.select_active > .input:focus:-moz-placeholder {
  opacity: 1;
}
.select_active > .input:focus::-moz-placeholder {
  opacity: 1;
}
.select_active > .input:focus:-ms-input-placeholder {
  opacity: 1;
}
.select_active > .input:focus::-ms-input-placeholder {
  opacity: 1;
}
.select_active > .input:focus::placeholder {
  opacity: 1;
}
.select .input {
  background-color: transparent;
}
.select__arrow {
  position: absolute;
  top: 50%;
  right: 0;
  width: 24px;
  height: 24px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: var(--black);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  -moz-transition: var(--transition);
  transition: var(--transition);
}
.select__arrow_rotate {
  -webkit-transform: translate(-50%, -50%) rotate(180deg);
  -moz-transform: translate(-50%, -50%) rotate(180deg);
  -ms-transform: translate(-50%, -50%) rotate(180deg);
  -o-transform: translate(-50%, -50%) rotate(180deg);
  transform: translate(-50%, -50%) rotate(180deg);
  color: var(--white);
}
.select__list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 0px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--black-light);
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  -moz-transition: var(--transition);
  transition: var(--transition);
  overflow: auto;
  scrollbar-color: var(--blue_light) var(--black-light);
  scrollbar-width: auto;
}
.select__list-item {
  cursor: pointer;
  padding: 4px 10px;
  color: var(--white);
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.8;
  background-color: var(--gray-dark);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  -moz-transition: var(--transition);
  transition: var(--transition);
}
.select__list-item_selected {
  color: var(--selected-color);
}
.select__list-item:hover {
  background-color: #272733;
}
.select__list::-webkit-scrollbar {
  background: var(--black-light);
  width: 10px;
}
.select__list::-webkit-scrollbar-thumb {
  background: var(--blue_light);
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
}
.select__list::-webkit-scrollbar-thumb:hover {
  background: rgba(62, 156, 220, 0.8);
}

.input {
  position: relative;
  color: var(--gray-dark);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  background-color: rgba(255, 255, 255, 0.85);
  border-width: 1px;
  border-style: solid;
  border-color: var(--fff);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: border var(--transition);
  -o-transition: border var(--transition);
  -moz-transition: border var(--transition);
  transition: border var(--transition);
}
.input::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.5;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.input:-moz-placeholder {
  color: inherit;
  opacity: 0.5;
  -moz-transition: var(--transition);
  transition: var(--transition);
}
.input::-moz-placeholder {
  color: inherit;
  opacity: 0.5;
  -moz-transition: var(--transition);
  transition: var(--transition);
}
.input:-ms-input-placeholder {
  color: inherit;
  opacity: 0.5;
  -ms-transition: var(--transition);
  transition: var(--transition);
}
.input::-ms-input-placeholder {
  color: inherit;
  opacity: 0.5;
  -ms-transition: var(--transition);
  transition: var(--transition);
}
.input::placeholder {
  color: inherit;
  opacity: 0.5;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  -moz-transition: var(--transition);
  transition: var(--transition);
}
.input:focus {
  border-color: var(--blue_light);
  -webkit-box-shadow: 0 0 1px var(--blue_light);
  box-shadow: 0 0 1px var(--blue_light);
}
.input:focus::-webkit-input-placeholder {
  opacity: 0;
}
.input:focus:-moz-placeholder {
  opacity: 0;
}
.input:focus::-moz-placeholder {
  opacity: 0;
}
.input:focus:-ms-input-placeholder {
  opacity: 0;
}
.input:focus::-ms-input-placeholder {
  opacity: 0;
}
.input:focus::placeholder {
  opacity: 0;
}

.range {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 6px;
  margin-bottom: 8px;
  background: rgba(255, 255, 255, 0.7);
  border-width: 1px;
  border-style: solid;
  border-color: var(--white);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  -moz-transition: var(--transition);
  transition: var(--transition);
}
@media screen and (min-width: 481px) {
  .range {
    margin-top: 16px;
  }
}
@media screen and (max-width: 480px) {
  .range {
    margin-top: 10px;
  }
}
.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  background: var(--blue_light);
  border-width: 3px;
  border-style: solid;
  border-color: var(--blue-dark);
  -webkit-border-radius: 30px;
  border-radius: 30px;
}
.range::-moz-range-thumb {
  width: 24px;
  height: 24px;
  background: var(--blue_light);
  border-width: 3px;
  border-style: solid;
  border-color: var(--blue-dark);
  border-radius: 30px;
}

.section__title {
  font-weight: 800;
  font-size: 2.25rem;
  text-align: center;
  text-transform: uppercase;
}
.section__title_white {
  color: var(--white);
}

.section__subtitle {
  color: #bbb;
  font-weight: 400;
  font-size: 1.125rem;
  text-align: center;
}

.text_blue {
  color: var(--blue_light);
}

.form {
  display: grid;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  grid-auto-rows: minmax(48px, 48px);
  width: 100%;
}
@media screen and (min-width: 1025px) {
  .form {
    gap: 36px 30px;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .form {
    gap: 30px 24px;
  }
}
@media screen and (min-width: 768px) {
  .form {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 767px) {
  .form {
    grid-template-columns: 1fr;
    gap: 24px;
  }
}
.form__select, .form__input, .form__add, .form__submit {
  height: 100%;
  width: 100%;
}
.form__select input {
  cursor: pointer;
  padding-right: 36px;
}
.form__input {
  font-size: 18px;
  padding-right: 10px;
  padding-left: 10px;
}
.form__add, .form__submit {
  font-size: 15px;
}
.form__range {
  width: 100%;
}
.form__range-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -moz-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .form__range-box {
    grid-column-start: span 2;
  }
}
.form__range-title, .form__range-percent {
  font-weight: 400;
  font-size: 18px;
}
.form__range-title {
  color: var(--white);
  max-width: 75%;
}
.form__range-percent {
  color: rgba(255, 255, 255, 0.85);
}
@media screen and (min-width: 768px) {
  .form__submit {
    grid-column: 2/3;
  }
}

.info__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
}
@media screen and (min-width: 1024px) {
  .info__list {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
@media screen and (max-width: 1024px) {
  .info__list {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .info__list {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
.info__list-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media screen and (min-width: 1025px) {
  .info__list-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 20px;
    max-width: 208px;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .info__list-item {
    gap: 18px;
    width: -webkit-calc(50% - 15px);
    width: -moz-calc(50% - 15px);
    width: calc(50% - 15px);
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 767px) {
  .info__list-item {
    width: 100%;
  }
}
@media screen and (max-width: 767px) and (min-width: 481px) {
  .info__list-item {
    gap: 16px;
    padding-right: 16px;
    padding-left: 16px;
  }
}
@media screen and (max-width: 480px) {
  .info__list-item {
    gap: 14px;
    padding-right: 8px;
    padding-left: 8px;
  }
}
.info__list-item:last-of-type .info__list-item-dots {
  display: none;
}
.info__list-item-circle {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 6.25rem;
  min-width: 6.25rem;
  max-width: 6.25rem;
  height: 6.25rem;
  min-height: 6.25rem;
  max-height: 6.25rem;
  background-color: var(--blue-dark);
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.info__list-item-circle::before {
  position: absolute;
  width: 90%;
  height: 90%;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  background-color: var(--blue_light);
  -webkit-border-radius: inherit;
  border-radius: inherit;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  content: "";
}
.info__list-item-icon {
  position: relative;
  width: 55%;
  height: 55%;
  color: var(--white);
}
.info__list-item-dots {
  position: absolute;
}
@media screen and (min-width: 1200px) {
  .info__list-item-dots {
    width: 110px;
    margin-left: 12px;
  }
}
@media screen and (max-width: 1200px) and (min-width: 1025px) {
  .info__list-item-dots {
    width: 9.6vw;
    margin-left: 0.96vw;
  }
}
@media screen and (min-width: 1025px) {
  .info__list-item-dots {
    top: 50%;
    left: 100%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
@media screen and (max-width: 1024px) {
  .info__list-item-dots {
    display: none;
  }
}
.info__list-item-title {
  color: var(--white);
  font-weight: 400;
  font-size: 16px;
}
@media screen and (min-width: 1025px) {
  .info__list-item-title {
    text-align: center;
  }
}
@media screen and (max-width: 1024px) {
  .info__list-item-title {
    text-align: left;
  }
}